<!-- Preview modal -->
<app-property-preview
  [propertyView]="propertyView"
  [clickModal]="clickModal"
></app-property-preview>

<!-- Reactive form -->
<div class="row">
  <div class="col-lg-8">
    <div class="card w-100 form-card mx-auto mt-3">
      <div class="card-header">
        <p class="my-2 d-inline-block">Add new property</p>
        <button
          class="btn btn-secondary float-end show-modal-btn"
          (click)="modalActive()"
        >
          Preview
        </button>
      </div>
      <div class="card-body">
        <form [formGroup]="addPropertyForm">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="basic-info-tab"
                data-bs-toggle="tab"
                data-bs-target="#basic-info"
                type="button"
                role="tab"
                aria-controls="basic-info"
                aria-selected="true"
                #basicInfo
                (click)="tabActive()"
              >
                Basic info
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pricing-area-tab"
                data-bs-toggle="tab"
                data-bs-target="#pricing-area"
                type="button"
                role="tab"
                aria-controls="pricing-area"
                aria-selected="false"
                #pricingArea
                [disabled]="BasicInfo.invalid"
                (click)="tabActive()"
              >
                Pricing and Area
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="address-tab"
                data-bs-toggle="tab"
                data-bs-target="#address"
                type="button"
                role="tab"
                aria-controls="address"
                aria-selected="false"
                #address
                (click)="tabActive()"
              >
                <!-- [disabled]="BasicInfo.invalid || PriceInfo.invalid" -->
                Address
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="other-details-tab"
                data-bs-toggle="tab"
                data-bs-target="#other-details"
                type="button"
                role="tab"
                aria-controls="other-details"
                aria-selected="false"
                #otherDetails
                [disabled]="
                  BasicInfo.invalid || PriceInfo.invalid || AddressInfo.invalid
                "
                (click)="tabActive()"
              >
                Other details
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="photos-tab"
                data-bs-toggle="tab"
                data-bs-target="#photos"
                type="button"
                role="tab"
                aria-controls="photos"
                aria-selected="false"
                #photos
                (click)="tabActive()"
              >
                <!-- [disabled]="
                  BasicInfo.invalid ||
                  PriceInfo.invalid ||
                  AddressInfo.invalid ||
                  OtherInfo.invalid
                " -->
                Photos
              </button>
            </li>
          </ul>

          <!-- --------------------------------------------------------------------- -->
          <!-- Tab content -->
          <!-- --------------------------------------------------------------------- -->
          <div class="tab-content" id="myTabContent">
            <!-- --------------------------------------------------------------------- -->
            <!-- Basic Info Tab -->
            <!-- --------------------------------------------------------------------- -->
            <div
              class="tab-pane fade show active"
              id="basic-info"
              role="tabpanel"
              aria-labelledby="basic-info-tab"
              formGroupName="BasicInfo"
            >
              <div class="mt-3 mb-3">
                <span class="d-block mb-2">I want to</span>
                <div class="btn-group" btnRadioGroup formControlName="SellRent">
                  <label btnRadio="1" class="btn btn-outline-primary mb-0"
                    >Sell</label
                  >
                  <label btnRadio="2" class="btn btn-outline-primary mb-0"
                    >Rent</label
                  >
                </div>
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!BasicInfo.value.SellRent && nextClicked"
                  >* Please select Sell or Rent</span
                >
              </div>
              <div class="mb-3">
                <span class="d-block mb-2"
                  >BHK ( Bedroom, Hall, and Kitchen )</span
                >
                <div class="btn-group" btnRadioGroup formControlName="BHK">
                  <label
                    *ngFor="let i of bhk"
                    btnRadio="{{ i }}"
                    class="btn btn-outline-primary mb-0"
                    >{{ i }}</label
                  >
                </div>
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!BasicInfo.value.BHK && nextClicked"
                  >* Please select BHK</span
                >
              </div>
              <div class="mb-3">
                <span class="d-block mb-2">Property Type</span>
                <div
                  class="btn-group"
                  btnRadioGroup
                  formControlName="PropertyType"
                >
                  <label
                    *ngFor="let i of propertyType"
                    btnRadio="{{ i }}"
                    class="btn btn-outline-primary mb-0"
                    >{{ i }}</label
                  >
                </div>
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!BasicInfo.value.PropertyType && nextClicked"
                  >* Please select Property Type</span
                >
              </div>
              <div class="mb-3">
                <span class="d-block mb-2">Furnish Type</span>
                <div
                  class="btn-group"
                  btnRadioGroup
                  formControlName="FurnishType"
                >
                  <label
                    *ngFor="let i of furnishType"
                    btnRadio="{{ i }}"
                    class="btn btn-outline-primary mb-0"
                    >{{ i }}</label
                  >
                </div>
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!BasicInfo.value.FurnishType && nextClicked"
                  >* Please select Furnish Type</span
                >
              </div>
              <div class="mb-3">
                <label for="Name" class="form-label"
                  >Building/Society/Project name</label
                >
                <input
                  type="text"
                  id="Name"
                  class="form-control"
                  formControlName="name"
                />
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="
                    !PropertyName.value && (nextClicked || PropertyName.touched)
                  "
                  >* Please select Building/Society/Project name</span
                >
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="
                    PropertyName.value.length > 0 &&
                    PropertyName.value.length < 5 &&
                    (nextClicked || PropertyName.touched)
                  "
                  >* Building/Society/Project name must be greater than 5
                  characters</span
                >
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="
                    PropertyName.value.length > 20 &&
                    (nextClicked || PropertyName.touched)
                  "
                  >* Building/Society/Project name must not be greater than 20
                  characters</span
                >
              </div>
              <div class="mb-3">
                <!-- [disabled]="BasicInfo.invalid" -->
                <button
                  class="btn btn-primary w-100"
                  (click)="tabChangeBtn('pricingArea', true)"
                >
                  Next
                </button>
              </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
            <!-- Pricing and Area Tab -->
            <!-- --------------------------------------------------------------------- -->
            <div
              class="tab-pane fade"
              id="pricing-area"
              role="tabpanel"
              aria-labelledby="pricing-area-tab"
              formGroupName="PriceInfo"
            >
              <div class="mb-3">
                <label for="pAPrice" class="form-label mt-3"
                  >Price (in USD)</label
                >
                <input
                  type="text"
                  id="pAPrice"
                  class="form-control"
                  formControlName="pAPrice"
                />
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!Price.value && (nextClicked || Price.touched)"
                  >* Please enter Price</span
                >
              </div>
              <div *ngIf="BasicInfo.value.SellRent === '2'" class="mb-3">
                <label for="pASecurity" class="form-label"
                  >Security (in USD)</label
                >
                <input
                  type="text"
                  id="pASecurity"
                  class="form-control"
                  formControlName="pASecurity"
                />
              </div>
              <div *ngIf="BasicInfo.value.SellRent === '2'" class="mb-3">
                <label for="pAMaintenance" class="form-label"
                  >Maintenance (in USD)</label
                >
                <input
                  type="text"
                  id="pAMaintenance"
                  class="form-control"
                  formControlName="pAMaintenance"
                />
              </div>
              <div class="mb-3">
                <label for="pABuiltArea" class="form-label"
                  >Built Area (in sq.ft)</label
                >
                <input
                  type="text"
                  id="pABuiltArea"
                  class="form-control"
                  formControlName="pABuiltArea"
                />
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!BuiltArea.value && (nextClicked || BuiltArea.touched)"
                  >* Please enter Built Area</span
                >
              </div>
              <div class="mb-3">
                <label for="pACarpetArea" class="form-label"
                  >Carpet Area (in sq.ft)</label
                >
                <input
                  type="text"
                  id="pACarpetArea"
                  class="form-control"
                  formControlName="pACarpetArea"
                />
              </div>
              <div class="mb-3">
                <!-- [disabled]="Name.invalid || Type.invalid || Price.invalid" -->
                <button
                  class="btn btn-primary w-100"
                  (click)="tabChangeBtn('basicInfo')"
                >
                  Previous
                </button>
              </div>
              <div class="mb-3">
                <!-- [disabled]="Name.invalid || Type.invalid || Price.invalid" -->
                <button
                  class="btn btn-primary w-100"
                  (click)="tabChangeBtn('address', true)"
                >
                  Next
                </button>
              </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
            <!-- Address Tab -->
            <!-- --------------------------------------------------------------------- -->
            {{ addPropertyForm.value | json }}
            <div
              class="tab-pane fade"
              id="address"
              role="tabpanel"
              aria-labelledby="address-tab"
              formGroupName="AddressInfo"
            >
              <!-- Country Selection -->
              <div class="mb-3 mt-3 w-50">
                <label for="Country" class="form-label">Country</label>
                <!-- Dropdown start -->
                <ng-select
                  [items]="countries"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select a country"
                  formControlName="Country"
                  dropdownPosition="bottom"
                >
                </ng-select>
                <!-- Dropdown end -->
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!Country.value && (nextClicked || Country.touched)"
                  >* Please select a country</span
                >
              </div>
              <!-- City Selection -->
              <!-- Select city field -->
              <div *ngIf="Country.value" class="mb-3 mt-3 w-50">
                <label for="City" class="form-label">City</label>
                <!-- Dropdown start -->
                <ng-select
                  [items]="cities"
                  bindLabel="name"
                  bindValue="id"
                  formControlName="City"
                  dropdownPosition="bottom"
                  placeholder="Select a city"
                >
                </ng-select>
                <!-- Dropdown end -->
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!CityName.value && (nextClicked || CityName.touched)"
                  >* Please select City</span
                >
              </div>
              <div class="mb-3">
                <label for="AddFloor" class="form-label">Floor</label>
                <input
                  type="text"
                  id="AddFloor"
                  class="form-control"
                  formControlName="AddFloor"
                />
              </div>
              <div class="mb-3">
                <label for="AddTotalFloors" class="form-label"
                  >Total floors</label
                >
                <input
                  type="text"
                  id="AddTotalFloors"
                  class="form-control"
                  formControlName="AddTotalFloors"
                />
              </div>
              <div class="mb-3">
                <label for="AddAddress" class="form-label">Address</label>
                <input
                  type="text"
                  id="AddAddress"
                  class="form-control"
                  formControlName="AddAddress"
                />
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!Address.value && (nextClicked || Address.touched)"
                  >* Please enter Address</span
                >
              </div>
              <div class="mb-3">
                <label for="AddLandmark" class="form-label">Landmark</label>
                <input
                  type="text"
                  id="AddLandmark"
                  class="form-control"
                  formControlName="AddLandmark"
                />
              </div>

              <div class="mb-3">
                <!-- [disabled]="Name.invalid || Type.invalid || Price.invalid" -->
                <button
                  class="btn btn-primary w-100"
                  (click)="tabChangeBtn('pricingArea')"
                >
                  Previous
                </button>
              </div>
              <div class="mb-3">
                <!-- [disabled]="Name.invalid || Type.invalid || Price.invalid" -->
                <button
                  class="btn btn-primary w-100"
                  (click)="tabChangeBtn('otherDetails', true)"
                >
                  Next
                </button>
              </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
            <!-- Other details Tab -->
            <!-- --------------------------------------------------------------------- -->
            <div
              class="tab-pane fade"
              id="other-details"
              role="tabpanel"
              aria-labelledby="other-details-tab"
              formGroupName="OtherInfo"
            >
              <div class="mb-3 mt-3">
                <label for="AddLandmark" class="form-label me-3 w-100"
                  >Ready to move</label
                >
                <div class="btn-group" btnRadioGroup formControlName="otTabRTM">
                  <label btnRadio="Yes" class="btn btn-outline-primary mb-0"
                    >Yes</label
                  >
                  <label btnRadio="No" class="btn btn-outline-primary mb-0"
                    >No</label
                  >
                </div>
                <span
                  class="err-msg d-block mt-2"
                  *ngIf="!ReadyToMove.value && nextClicked"
                  >* Please select Ready to move</span
                >
              </div>
              <div *ngIf="ReadyToMove.value === 'No'" class="mb-3">
                <label for="otTabAF" class="form-label">Available from</label>
                <!-- Ngx-bootstrap datepicker -->
                <input
                  type="text"
                  placeholder="Datepicker"
                  class="form-control"
                  bsDatepicker
                  [bsConfig]="bsConfig"
                  formControlName="otTabAF"
                />
              </div>
              <div class="mb-3">
                <label for="otTabAOP" class="form-label">Age of property</label>
                <input
                  type="text"
                  id="otTabAOP"
                  class="form-control"
                  formControlName="otTabAOP"
                />
              </div>
              <div class="mb-3">
                <label for="otTabGC" class="form-label w-100"
                  >Gated community</label
                >
                <div class="btn-group" btnRadioGroup formControlName="otTabGC">
                  <label btnRadio="Yes" class="btn btn-outline-primary mb-0"
                    >Yes</label
                  >
                  <label btnRadio="No" class="btn btn-outline-primary mb-0"
                    >No</label
                  >
                </div>
              </div>
              <div class="mb-3">
                <label for="otTabME" class="form-label w-100"
                  >Main entrance</label
                >
                <div class="btn-group" btnRadioGroup formControlName="otTabME">
                  <label
                    *ngFor="let i of mainEntrance"
                    btnRadio="{{ i }}"
                    class="btn btn-outline-primary mb-0"
                    >{{ i }}</label
                  >
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                  <label for="otTabDesc">Description</label>
                  <textarea
                    class="form-control"
                    formControlName="otTabDesc"
                    id="otTabDesc"
                    rows="3"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3">
                <!-- [disabled]="Name.invalid || Type.invalid || Price.invalid" -->
                <button
                  class="btn btn-primary w-100"
                  (click)="tabChangeBtn('address')"
                >
                  Previous
                </button>
              </div>
              <div class="mb-3">
                <!-- [disabled]="Name.invalid || Type.invalid || Price.invalid" -->
                <button
                  class="btn btn-primary w-100"
                  (click)="tabChangeBtn('photos', true)"
                >
                  Next
                </button>
              </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
            <!-- Photos Tab -->
            <!-- --------------------------------------------------------------------- -->
            <div
              class="tab-pane fade"
              id="photos"
              role="tabpanel"
              aria-labelledby="photos-tab"
            >
              <div class="row">
                <div class="col-lg-6">
                  <!-- Ngx Dropzone for image upload by drag and drop -->
                  <ngx-dropzone
                    [multiple]="false"
                    class="mt-3 mb-3 p-3 photo-tab"
                    (change)="onSelect($event)"
                    accept="image/jpeg,image/jpg,image/png,image/gif"
                    [disableClick]="disableImageUpload"
                    style="background-color: #f7f7f7"
                  >
                    <ngx-dropzone-label style="font-size: 125%">
                      <i
                        style="color: #0a6ebd"
                        class="fa-solid fa-cloud-arrow-up"
                      ></i>
                      Drop your property image <br />
                      here
                    </ngx-dropzone-label>

                    <ngx-dropzone-image-preview
                      ngProjectAs="ngx-dropzone-preview"
                      *ngFor="let f of files"
                      [removable]="true"
                      (removed)="onRemove(f)"
                      [file]="f"
                      class="position-relative uploaded-img"
                    >
                      <ngx-dropzone-label
                        class="position-absolute uploaded-img-name"
                        >{{ f.name }}</ngx-dropzone-label
                      >
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                </div>
                <!-- Button group -->
                <div class="col-lg-6">
                  <div class="w-100 mt-3 mb-3">
                    <div class="mb-3">
                      <button
                        class="btn btn-primary w-100 p-2"
                        (click)="tabChangeBtn('otherDetails')"
                      >
                        Previous
                      </button>
                    </div>
                    <div class="mb-3">
                      <button
                        class="btn btn-primary w-100 p-2"
                        (click)="onSubmit()"
                      >
                        Submit
                      </button>
                    </div>
                    <div class="mb-3">
                      <button
                        class="btn btn-primary w-100 p-2"
                        (click)="onReset()"
                      >
                        Reset
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 property-preview">
    <div class="card w-100 mt-3">
      <div class="card-header">Property preview</div>
      <div class="card-body">
        <app-property-card
          [property]="propertyView"
          [showWishList]="false"
          [detailsBtnDisabled]="true"
        ></app-property-card>
      </div>
    </div>
  </div>
</div>
