<!-- Reactive form -->
<div class="card form-card mx-auto mt-3">
  <div class="card-header">Register</div>
  <div class="card-body">
    <!-- Test -->
    <!-- {{ registrationForm.value | json }} -->
    <!-- Using pipe to convert to json -->
    <!-- {{ registrationForm.errors | json }}
    {{ registrationForm.status | json }} -->

    <!-- Test -->
    <form [formGroup]="registrationForm">
      <!-- ----------------------------------------------------------------- -->
      <!-- Name -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="name" class="form-label"
          >Name <span class="required-field-asterisk">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Enter name"
        />
        <span
          class="err-msg"
          *ngIf="
            Name.hasError('required') && (Name.touched || registerBtnPressed)
          "
          >Please provide name</span
        >
        <span
          class="err-msg"
          *ngIf="
            Name.hasError('minlength') && (Name.touched || registerBtnPressed)
          "
          >Name must be minimum two characters long</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Email address -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="email" class="form-label"
          >Email <span class="required-field-asterisk">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter email address"
        />
        <span
          class="err-msg"
          *ngIf="!Email.valid && (Email.touched || registerBtnPressed)"
        >
          <span *ngIf="Email.hasError('required')">Please provide email</span>
        </span>
        <span
          class="err-msg"
          *ngIf="registrationForm.hasError('invalidEmail') && Email.valid"
          >Invalid email</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Password -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="password" class="form-label"
          >Password <span class="required-field-asterisk">*</span></label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter password"
        />
        <span
          class="err-msg"
          *ngIf="!Password.valid && (Password.touched || registerBtnPressed)"
        >
          <span *ngIf="Password.hasError('required')"
            >Please provide password</span
          >
          <span *ngIf="Password.hasError('minlength')"
            >Password must be at least 8 characters long</span
          >
        </span>
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Confirm Password -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="cpassword" class="form-label"
          >Confirm Password
          <span class="required-field-asterisk">*</span></label
        >
        <input
          type="password"
          class="form-control"
          id="cpassword"
          formControlName="confirmPassword"
          placeholder="Enter confirm password"
        />
        <span
          class="err-msg"
          *ngIf="
            !ConfirmPassword.valid &&
            (ConfirmPassword.touched || registerBtnPressed)
          "
        >
          <span *ngIf="ConfirmPassword.hasError('required')"
            >Please provide confirm password</span
          >
        </span>
        <span
          class="err-msg"
          *ngIf="
            registrationForm.hasError('confirmPassNotMatched') &&
            ConfirmPassword.valid
          "
          >Password not matched</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Phone number -->
      <!-- ----------------------------------------------------------------- -->
      <div class="mb-3">
        <label for="phone" class="form-label"
          >Phone number <span class="required-field-asterisk">*</span></label
        >
        <!-- Phone number -->
        <div class="row">
          <div class="col-lg-6">
            <!-- Country select -->
            <!--Using items input-->
            <ng-select
              class="w-100 mb-1"
              formControlName="country"
              placeholder="Select Country"
            >
              <ng-option *ngFor="let country of countries" [value]="country.id">
                <div class="d-flex align-items-center">
                  <img src="{{ country.flag }}" alt="" class="" height="24px" />
                  <span class="country-code"
                    >{{ country.internetCountryCode }}
                  </span>
                  {{ country.countryCallingCode }}
                </div>
              </ng-option>
            </ng-select>
            <span
              class="err-msg d-block mb-1"
              *ngIf="!Country.valid && (Country.touched || registerBtnPressed)"
              >Please select country</span
            >
          </div>
          <div class="col-12">
            <input
              type="text"
              class="form-control w-100"
              id="phone"
              formControlName="phoneNumber"
              placeholder="Enter phone number"
            />
          </div>
        </div>
        <span
          class="err-msg"
          *ngIf="
            !PhoneNumber.valid && (PhoneNumber.touched || registerBtnPressed)
          "
          >Please provide phone number</span
        >
      </div>
      <!-- ----------------------------------------------------------------- -->
      <!-- Form buttons -->
      <!-- ----------------------------------------------------------------- -->
      <button type="reset" class="btn btn-danger me-2">Cancel</button>
      <!-- [disabled]="!registrationForm.valid" -->
      <button type="submit" class="btn btn-primary" (click)="register()">
        Register
      </button>
    </form>
  </div>
</div>
